body {
    background-color: #f1f1f1;
    color: #7a797b;
    font-family: Verdana;
}

img {
    height: 256px;
}

div {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}



h1 {
    color: #606062;
    font-size: 24px;
    padding: 10px;
    border: 5px solid #606062;
}

h2 {
    font-size: 20px;
    padding: 20px;
}

h3 {
    color: #616163;
    font-weight: normal;
    border-top: 2px solid #606062;
    border-bottom: 2px solid #606062;
    padding: 8px;
}

p {
    font-size: 18px;
    color: #616163;
    text-align: justify;
    line-height: 30px;
    padding-bottom: 16px;
}

span {
    font-weight: bold;
}

a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 16px;
    color: white;
    background-color: #25D366;
    border: none;
    border-radius: 20px;
}

.bottom {
    height: 25px;
 
    margin: 0 auto;
    text-align: center;
    padding: 10px
}